{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/../../static/css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

    {% load i18n wagtailcore_tags %}
{% load wagtailimages_tags %}

<main class="main">
    <div class="figure">
        <img src="{% image_url page.image "width-930" %}"/>
        <p>{{ page.summary | richtext }}</p>
    </div>


    <div class="main-text">
        <h1 class="text-primary">{{ page.title }}</h1>
        <p>{{ page.body | richtext }}</p>
    </div>

    <a href="{{ page.get_parent.url }}">Regresar...</a>


</main>



{% endblock content %}
